{% extends 'base.html.twig' %}

{% block title %}Liste des entreprises{% endblock %}

{% block content %}

<h1>Cette page affichera la liste des entreprises</h1>

<table>
  <tr> <th>Nom de l'entreprise</th> <th>Nombre de stages</th> </tr>
  <tr>
    <td>ent1</td>
    <td>3</td>
  </tr>
  <tr>
    <td>ent2</td>
    <td>6</td>
  </tr>

</table>

{% endblock %}
