{% extends 'base.html.twig' %}

{% block title %}Liste des formations{% endblock %}

{% block content %}
<h1>Cette page listera les formations dipsonibles</h1>
<table>
  <tr> <th>Nom de la formation</th> <th>Nombre de stages</th> </tr>
  <tr>
    <td>for1</td>
    <td>3</td>
  </tr>
  <tr>
    <td>for2</td>
    <td>6</td>
  </tr>

</table>

{% endblock %}
