<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block header %}
        <center><h1> ProStages </h1></center>
        <a href="{{path('entreprises')}}">Rechercher par entreprise</a>
        <a href="{{path('formations')}}">Rechercher par formation</a>
        {% endblock %}
        {% block content %}{% endblock %}
        {% block footer %}
        <footer>
          <p> Contact us </p>
        </footer>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
